<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <title>Home</title>
</head>
<body>
    <div id='page-auth'>
        <main>
            <div id="main-content">
                <img src="../static/assets/cadeado.png" alt="">
                <span>Sistema de gerenciamento UABJ</span>
                <a href="{{url_for('login')}}">login</a>
                <a href="{{url_for('register')}}">registro</a>
            </div>
        </main>
    </div>
</body>
</html>