<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/login.css">
    <title>Register</title>
</head>
<body>
    <div class="my-page-auth">
        <main>
            <div class="my-main-content">
                {% if error %}
                    <div class="mt-3 alert alert-danger">{{ error }}</div>
                {% endif %}
                <h1>Register page</h1>

                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ form.username }}
                    {{ form.password }}
                    {{ form.submit }}
                </form>

                <a href="{{url_for('login')}}">Já tem uma conta? Faça login</a>
                <a href="{{url_for('home')}}">Voltar ao início</a>
            </div>
        </main>
        <aside>
            <img src="../static/assets/cadeado.png" alt="">
            <p>Sistema de gerenciamento UABJ</p>
        </aside>
    </div>
    
</body>
</html>